# App
PROJECT_NAME=project-name
PROJECT_DESCRIPTION=project_description
PROJECT_VERSION=1.0.0
API_V1_STR=/api/v1

# PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_USER=postgresql-user
POSTGRES_PASSWORD=postgresql-password
POSTGRES_PORT=5432
POSTGRES_DB=postgresql-db

# JWT
JWT_SECRET=jwt_secret
JWT_ALGORITHM=jwt_algorithm
JWT_EXPIRE_MINUTES=1